include README.md
include LICENSE
include src/pycopm/core/*
include src/pycopm/jobs/*
include src/pycopm/template_scripts/drogon/*
include src/pycopm/template_scripts/norne/*
include src/pycopm/template_scripts/common/*
include src/pycopm/reference_simulation/drogon/*
include src/pycopm/reference_simulation/drogon/include/*
include src/pycopm/reference_simulation/drogon/include/edit/*
include src/pycopm/reference_simulation/drogon/include/grid/*
include src/pycopm/reference_simulation/drogon/include/props/*
include src/pycopm/reference_simulation/drogon/include/regions/*
include src/pycopm/reference_simulation/drogon/include/runspec/*
include src/pycopm/reference_simulation/drogon/include/schedule/*
include src/pycopm/reference_simulation/drogon/include/solution/*
include src/pycopm/reference_simulation/drogon/include/summary/*
include src/pycopm/reference_simulation/norne/*
include src/pycopm/reference_simulation/norne/INCLUDE/*
include src/pycopm/reference_simulation/norne/INCLUDE/FAULT/*
include src/pycopm/reference_simulation/norne/INCLUDE/GRID/*
include src/pycopm/reference_simulation/norne/INCLUDE/PETRO/*
include src/pycopm/reference_simulation/norne/INCLUDE/PI/*
include src/pycopm/reference_simulation/norne/INCLUDE/PVT/*
include src/pycopm/reference_simulation/norne/INCLUDE/RELPERM/*
include src/pycopm/reference_simulation/norne/INCLUDE/SUMMARY/*
include src/pycopm/reference_simulation/norne/INCLUDE/VFP/*
